<footer class="fixed-bottom bg-dark text-center pt-3 pb-3">
    <p class="text-white">© 2018 <a style="color:#19d412; text-decoration:none;" href="#"><strong>Kiran Bhalerao</strong></a>, All rights reserved
        2016-2017.</p>
</footer>